body {
  font-family: Avenir;
}

.main-container {
  background-image: url(./Picture1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 400px;
  height: 600px;
  margin: 20px;
}

#userInput,
#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#result {
  padding-top: 65px;
}

h2 {
  padding-top: 20px;
  padding-left: 40px;
  margin: 0;
  color: white;
}

h4 {
  font-size: 10px;
  color: white;
  margin-top: 5px;
  font-weight: 100;
}
input {
  width: 200px;
  height: 70px;
  font-size: 3.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  color: teal;
}

input:focus {
  outline: none;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 85px;
  height: 35px;
  margin: 40px 10px;
  padding: 10px;
}

.convert,
.reset {
  border: none;
  transition: 0.3s;
}

.convert {
  background-color: teal;
}

.convert:hover {
  transform: translateY(-4px);
}
.reset {
  background-color: tomato;
}
.reset:hover {
  transform: translateY(-4px);
}

h3 {
  margin: 0px;
  font-size: 15px;
  color: #333232;
}

span {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
}
.binary,
.oct,
.hexa {
  width: 70%;
  height: 25px;
  padding: 5px 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
  text-align: center;
  color: teal;
}
